<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorProjects.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js">
    </script>
    <script>
        window.getCanvasContext2D = (canvas) => {
            const ctx = canvas.getContext("2d");
            return {
                fillRect: (x, y, width, height) => ctx.fillRect(x, y, width, height),
                clearRect: (x, y, width, height) => ctx.clearRect(x, y, width, height),
                drawImage: (image, x, y) => ctx.drawImage(image, x, y),
                setFillStyle: (color) => ctx.fillStyle = color,
                // Add more methods as needed
            };
        };
    </script>
</body>

</html>
