@page "/fluid"
@rendermode InteractiveServer

<PageTitle>Fluid Simulation</PageTitle>

<div class="fluid-simulation">
    <h3>Choose Simulation Environment</h3>
    <FluidControls @bind-typeSelected="simType" />
    <FluidRenderer />
</div>
<h4>@simType</h4>
@code {
    FluidSimulation fluidSimulation = new FluidSimulation(2.2f, 10, 10, 10);
    FluidControls.SIM_TYPE simType;
    FluidControls.SIM_TYPE lastSimType;
    protected override void OnParametersSet()
    {
        if (lastSimType == simType) return; // no change, skip setup
        lastSimType = simType;
        switch (simType)
        {
            case FluidControls.SIM_TYPE.Tank:
                setupTankSimulation();
                break;
            case FluidControls.SIM_TYPE.WindTunnel:
                setupWindTunnelSimulation();
                break;
            case FluidControls.SIM_TYPE.Paint:
                setupPaintSimulation();
                break;
            case FluidControls.SIM_TYPE.HiresTunnel:
                setupHiresTunnelSimulation();
                break;
        }


    }

    public void setupTankSimulation()
    {
        fluidSimulation.setCellSize(0.5f); // TODO: adjust cell size based on simulation type
        fluidSimulation.setGridSize(10, 10);
        fluidSimulation.setCellType(0, 0, 1.0f); // TODO: algo for setting cell types
    }

    public void setupWindTunnelSimulation()
    {
        fluidSimulation.setCellSize(0.5f); // TODO: adjust cell size based on simulation type
        fluidSimulation.setGridSize(10, 10);
        fluidSimulation.setCellType(0, 0, 1.0f); // TODO: algo for setting cell types
    }

    public void setupPaintSimulation()
    {
        fluidSimulation.setCellSize(0.5f); // TODO: adjust cell size based on simulation type
        fluidSimulation.setGridSize(10, 10);
        fluidSimulation.setCellType(0, 0, 1.0f); // TODO: algo for setting cell types
    }

    public void setupHiresTunnelSimulation()
    {
        fluidSimulation.setCellSize(0.5f); // TODO: adjust cell size based on simulation type
        fluidSimulation.setGridSize(10, 10);
        fluidSimulation.setCellType(0, 0, 1.0f); // TODO: algo for setting cell types
    }